body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
  }
  
  .container {
    max-width: 400px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  }
  
  .form-control {
    background: #2c2c2c;
    color: #fff;
    border: none;
  }
  
  .form-control:focus {
    background: #2c2c2c;
    box-shadow: none;
  }
  
  .btn-custom {
    width: 100%;
  }
  
  .list-group-item {
    background: #2c2c2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  
  #ul-todo {
    max-height: 300px; 
    overflow-y: auto;  
  }